name: Tests cases

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  tests_cases:
    name: Tests cases
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install local ipl3checksum
      run: pip install .

    - name: Update tests outputs
      run: python3 tests/check_correct_sum.py
