name: Tests cases

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  tests_cases:
    name: Tests cases
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        pip3 install -U maturin

    - name: Install local ipl3checksum
      run: pip install .

    - name: Update tests outputs
      run: python3 tests/check_correct_sum.py

    - name: Test exceptions
      run: python3 tests/exception_test.py
